<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		 <setting name="cacheEnabled" value="false" />
		 <setting name="useGeneratedKeys" value="false" />
		 <setting name="defaultExecutorType" value="REUSE" />
	 </settings>
	 
	 <typeAliases>
		 <typeAlias alias="PositionData" type="kr.groupware.model.rank.position.PositionData"/>
		 <typeAlias alias="SpotData" type="kr.groupware.model.rank.spot.SpotData"/>
		 <typeAlias alias="DepartmentData" type="kr.groupware.model.rank.department.DepartmentData"/>
		 <typeAlias alias="MemberData" type="kr.groupware.model.member.MemberData"/>
		 <typeAlias alias="DefaultSystemSettingData" type="kr.groupware.model.system.defaultSystem.DefaultSystemSettingData"/>
		 <typeAlias alias="BoardSettingData" type="kr.groupware.model.system.board.BoardSettingData"/>
		 <typeAlias alias="PostData" type="kr.groupware.model.post.postData.PostData"/>
	 </typeAliases>
	 
	 <mappers>
	 </mappers>
	
</configuration>
