<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		 <setting name="cacheEnabled" value="false" />
		 <setting name="useGeneratedKeys" value="false" />
		 <setting name="defaultExecutorType" value="REUSE" />
	 </settings>
	 
	 <!--<typeAliases>-->
		 <!--<typeAlias alias="Board" type="kr.purred.springstart.model.board.Board" />-->
		 <!--<typeAlias alias="CardCategory" type="kr.purred.springstart.model.timeTable.CardCategory" />-->
		 <!--<typeAlias alias="CardContent" type="kr.purred.springstart.model.timeTable.CardContent" />-->
		 <!--<typeAlias alias="CardComment" type="kr.purred.springstart.model.timeTable.CardComment" />-->
		 <!--<typeAlias alias="CardContentWithComment" type="kr.purred.springstart.model.timeTable.CardContentWithComment" />-->
		 <!--<typeAlias alias="CardContentDm" type="kr.purred.springstart.model.timeTable.CardContentDm" />-->
		 <!--<typeAlias alias="Member" type="kr.purred.springstart.model.member.Member" />-->
		 <!--<typeAlias alias="MemberState" type="kr.purred.springstart.model.member.MemberState" />-->
	 <!--</typeAliases>-->
	 
	 <mappers>
	 </mappers>
	
</configuration>
